<form [formGroup]="formGroup" (ngSubmit)='register()'>
  <mat-form-field>
    <mat-label>name</mat-label>
    <input matInput type='text' name="name" formControlName="name" />
    <mat-error><span>{{ getError('email')}}</span></mat-error>
</mat-form-field>
  <mat-form-field>
      <mat-label>e-mail</mat-label>
      <input matInput type='email' name="email" formControlName="email" />
      <mat-error><span>{{ getError('email')}}</span></mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type='text' name="password" formControlName="password" />
      <mat-error>
          <p>
              {{getError('password')}}
          </p>
      </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type='text' name="confirm_password" formControlName="confirm_password" />
    <mat-error>
        <p>
            {{getError('password')}}
        </p>
    </mat-error>
</mat-form-field>
  <mat-divider></mat-divider>
  <button color="primary" mat-raised-button type="submit" [disabled] = 'formGroup.invalid'>
    Register me!
  </button>
  <a routerLink='/login'>Already Register. Go to Login</a>
</form>


