div
{
  width: 100%;
  height: 100vh;
}

div.centered
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  >h1
  {
    font-size: 10vh;
    margin-bottom: 50px;
  }

}
