<form [formGroup]="formGroup" (ngSubmit)='onSubmit()'>
  <input type="hidden" formControlName="id">
  <mat-form-field>
      <mat-label>e-mail</mat-label>
      <input matInput type='email' name="email" formControlName="email" />
      <mat-error><span>{{ getError('email')}}</span></mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type='password' name="password" formControlName="password" />
      <mat-error>
          <p>
              {{getError('password')}}
          </p>
      </mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
  <button color="primary" mat-raised-button type="submit" [disabled] = 'formGroup.invalid'>
      Log me!
  </button>
  <mat-divider></mat-divider>
  <a routerLink='/users/register'>Not Logged? Register HERE!</a>
</form>


